.card__service {
  border-radius: 25px;
  border: 0.5px solid #d9d9d9;
  padding: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
  text-align: center;
  transition: 0.26s ease-in-out;
  cursor: pointer;
  &:hover {
    box-shadow: 3px 4px 6px 0px rgba(0, 0, 0, 0.4);
    background: linear-gradient(white, white) padding-box,
      linear-gradient(135deg, #9082ed, #edc3be) border-box;
    border: 1px solid transparent;

    h3 {
      // background: -webkit-linear-gradient(#9082ed, #edc3be);
      // how to change the angle of the gradient
      background: -webkit-linear-gradient(320deg, #9082ed, #edc3be);
      

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &-img {
    width: 50px;
    height: 50px;
    background: #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
  }
  &-content {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    column-gap: 30px;
    justify-content: center;
    transition: 0.26s ease-in-out;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-flow: wrap;
      :only-child {
        width: 30%;
      }
    }
  }
  .hidden {
    display: block;
  }
  .active {
    display: block;
  }
  @media (hover) {
    .hidden {
      display: block;
    }
  }
  @media screen and (min-width: 768px) {
    .hidden {
      display: none;
    }
  }
}
