em {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    font-style: normal;
    overflow: hidden;
    height: 80px;
    span {
      height: 80px;
      animation: move-text 3s ease-in-out alternate infinite;
      @keyframes move-text {
        0% {
          transform: translateY(0);
        }

        100% {
          transform: translateY(-140px);
        }
      }
    }
    @media screen and (min-width: 768px) {
      height: 130px;

      span {
        height: 150px;
        animation: move-text 3s ease-in-out alternate infinite;
        @keyframes move-text {
          0% {
            transform: translateY(0);
          }

          100% {
            transform: translateY(-220px);
          }
        }
      }
    }
  }