@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter Tight";
  src: url("/fonts/Inter-Tight/InterTight-VariableFont_wght.ttf");
}
* {
  font-family: "Inter Tight", sans-serif;
}

h1 {
  font-size: 64px !important;
  font-weight: 600;
}
h2 {
  font-size: 48px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 104px !important;
  }
  h2 {
    font-size: 72px;
  }
}
h3 {
  font-size: 32px;
  font-weight: 600;
}

.text-gradient {
  background: -webkit-linear-gradient(#9082ed, #edc3be);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-gradient:hover {
  transition: all 0.3s ease-in-out;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #9082ed, #edc3be) border-box;
  border: 1px solid transparent;
}
