@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: 18px;
}
p,
button {
  font-weight: 400;
}

h1 {
  font-size: 64px;
  font-weight: 600;
}
h2 {
  font-size: 48px;
  font-weight: 600;
}

@media screen and (min-width: 640px) {
  h1 {
    font-size: 104px;
  }
  h2 {
    font-size: 72px;
  }
  p {
    font-size: 20px;
  }
}
h3 {
  font-size: 32px;
  font-weight: 600;
}
h4 {
  font-size: 24px;
  font-weight: 600;
}

.text-gradient {
  background: -webkit-linear-gradient(#9082ed, #edc3be);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-gradient:hover {
  transition: all 0.3s ease-in-out;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #9082ed, #edc3be) border-box;
  border: 1px solid transparent;
}
.border-gradient-perm {
  transition: all 0.3s ease-in-out;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #9082ed, #edc3be) border-box;
  border: 1px solid transparent;
}
.bg-gradient {
  background: linear-gradient(to right, #9082ed, #edc3be);
}
