.section-menu {
  padding: 50px 25px 100px 25px;
  height: 100vh;
  background-color: black;
  z-index: 80;
  position: fixed;
  left: 0;
  right: 0;
  animation: menu 0.4s ease-in-out;
  @media screen and (min-width: 768px) {
    padding: 100px 25px 100px 25px;
  }

  @keyframes menu {
    0% {
      width: 10%;
      left: -100%;
    }
    100% {
      width: 100%;
      left: 0;
    }
  }

  nav {
    padding: 50px 0;
    border: solid #666666;
    border-width: 1px 0 1px 0;
    ul {
      display: flex;
      flex-direction: column;
      row-gap: 50px;
      list-style-type: none;
      list-style-position: none;
      padding-inline: 0;

      li {
        width: 100%;

        a {
          display: block;
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: white;
        }
      }
    }
  }
}
